body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.drag-area {
  border: 2px dashed #000;
  height: 500px;
  width: 700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drag-area .icon {
  font-size: 50px;
  color: #000;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
